
<div class="container">
  <%= simple_form_for :waves, url: waves_path, method: :get do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4">
        <%= f.input :departure_address, placeholder: "Where you are", label: false %>
      </div>

      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4">
        <%= f.input :sport, collection: @sports, prompt: "Choose your sport", label: false %>
      </div>

      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4 input-append date">
        <%= f.input :date, input_html: {id: "datetimepicker"}, placeholder: "Date and time", label: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <%= f.button :submit, "Search a wave", class: "btn btn-blue" %>
      </div>
    </div>
  <% end %>
</div>




